<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Document</title>
</head>
<body>
    <button class="accordion">Gamecube</button>
    <div class="panel">
        <p>Wonderful aesthetic, controller, and accessories, combined with a great library of quirky and original games!</p>
    </div>

    <button class="accordion">Gameboy Advance</button>
    <div class="panel">
        <p>A fantastic handheld with an even mix of ports of older titles and original games.</p>
    </div>

    <button class="accordion">Dreamcast</button>
    <div class="panel">
        <p>The first major console with built-in online funcitonality, it was complete with strong gamesn adn fun accessories, along with a miniature console/memory card--the VMU!</p>
    </div>
</body>
<script src="accordion_script.js"></script>
</html>